/***************
The CSS in this file will deal with the home page once the 
user has signed in.
***************/

.header_section {
  background-image: url(../img/march.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 680px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.header_section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.two, .four, .six {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.main_section {
  display: grid;
  grid-template-row: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  grid-gap: 3em;
  margin: 5%;
}

.main_section div {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid #ff6b66;
  background-color: #66ffb8;
}

.third_section {
  background-image: url(../img/beer_and_people.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
}

/***************
Media queries for the home page
***************/

@media only all and (max-width: 768px) {

  .header_section {
    background-attachment: scroll;
    height: 1000px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }

  .header_section div {
    margin: 20px;
  }

  .two, .four, .six {
    padding: 3px;
  }

  .main_section {
    grid-template-row: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-around;
    grid-gap: 0.5em;
  }

  .main_section div {
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
  }


}
