{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>

<!-- Header area -->
<header>
  <h1>The Results</h1>
</header>
<!-- End of Header area -->

<!-- Start of main element -->
<main>

  <section id='one'>


    <p>The first question was the following: <span>Are states that have more craft breweries more likely to support Hillary Clinton?</span> The below is the graph that showed the results of that question.</p>

    <div id='fix_graph' class="bk-root">
      <div class="bk-plotdiv" id="eb33e1a8-feae-48b1-8fc3-35804f6748f9"></div>
    </div>

    <p>The correlation for this graph is: {{ correlation_list[0] }}. I'm currently working on learning more about statistics but I believe that this correlation is quite low. In fact, there does not seem to be any correlation between the number of breweries and the percentage who voted for Hillary Clinton.</p>

    <p>This next graph is slightly different. For it's focusing on the question: <span>Are states that have more searches for craft breweries, based on google trends, more likely to support Hillary Clinton? </span> We are still using the percentage of people who voted for Clinton. However, we are now using Google Trends as the y-axis. The period, years, covered, from the google trends data is from the present day-April of 2018 all the way back to about 2005. Or however far back Google Trends goes. The phrase that I was looking at was 'craft breweries'.</p>

    <div id='fix_graph' class="bk-root">
      <div class="bk-plotdiv" id="44f085cd-6c72-4e11-8ae3-1e01f5834c4b"></div>
    </div>

    <p>The correlation for this graph is: {{ correlation_list[2] }}. The correlation here is a little bit stronger. However, I would not say that there is a super strong or even that strong enough of a correlation between tthe percentage of people voting for Clinton and using Google Trends to see how popular the phrase 'craft brewery' is.</p>

    <p>This is another graph using data from Google Trends. The phrase was the same-craft breweries. This time, the time period goes from June of 2015 to November 2016. Thus, it focuses only on the election itself.</p>

    <div id='fix_graph' class="bk-root">
      <div class="bk-plotdiv" id="817465e2-0bb5-4abc-b1b1-9c616d9b9545"></div>
    </div>

    <p>The correlation for this graph is: {{ correlation_list[4] }}. Out of all the graphs, this one appears to have the weakest correlation. The only thing that appears somewhat interesting in it is that the support for Clinton, the blue dots, appear to be in two main groups. Furthermore, in the Clinton group that is higher, out of those six states, all but two are swing states. This was interesting to me and part of me almost wants to do some further analysis of it to see what it means. That will most likely have to wait for another day.</p>

  </section>


</main>
<!-- End of main element -->


<script src='{{ url_for('static', filename='js/graph.js') }}'></script>
{% endblock %}