{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">

<!-- This section will essentially be like a header section -->
<section class='header_section'>

  <div class='one'></div>

  <div class='two'>
    <h1>The Project</h1>
  </div>

  <div></div>

  <div class='four'>
    <h2>Test #1</h2>
    <p>Are states that have more craft breweries more likely to support Hillary Clinton?</p>
  </div>

  <div></div>

  <div class='six'>
    <h2>Test #2</h2>
    <p>
      Are states that have more searches for craft breweries, based on google trends, more 
      likely to support Hillary Clinton? 
    </p>
  </div>

</section>
<!-- End of 'header' section -->

<!-- This section will essentially be the main section -->
<section class='main_section'>

  <div>
    <h2>The Purpose</h2>
    <p>
      This project will take data about craft breweries and see what it tells me about politics. For example, is their a correlation between the number of craft breweries in a state and who that state voted for? This is what I will try and examine in this project. I will say that I got some of the idea for this project after reading both Hillbilly Elegy by J.D. Vance as well as Coming Apart by Charles Murray. By mententioning Charles Murray I'm not saying that I support his views. However, he does point out in his book that you can almost predict people and their values / politics by looking at the beer that they drink.
    </p>
  </div>

  <div>
    <h2>Why?</h2>
    <p>
      Why Not? The truth is the following. One day, while I was scanning Kaggle for some datasets I came across this beer dataset. I wanted to look at it and see what type of information it contained. At first, I was not that interested. However, the more the I thought about it my mind kept wondering how this would be tied into politics. I know that it's a 'crazy' idea. But I'm interest to see where it takes me. Finally, I needed a 'simpler' project as I focused on finals and learning React. 
    </p>
  </div>

</section>
<!-- End of main section -->

<!-- This section will be the third section -->
<section class='third_section'>
</section>
<!-- End of third section -->



{% endblock %}